li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

label {
  font-family: 'Bungee', cursive;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 90px;
  margin-top: 20px;
  font-family: 'Bungee', cursive;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Bungee', cursive;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}